*
  margin 0
  padding 0
  box-sizing: border-box;

html
  font-size 14px

body
  // font-family "Droid Serif",Georgia,"Times New Roman",STHeiti,serif
  // -webkit-font-smoothing antialiased
  // -moz-osx-font-smoothing grayscale
  font-size 14px
  line-height 1.5
  letter-spacing 1px
  word-spacing 1px
  color $textColor

.page
  .theme-default-content
    max-width 100%
  .page-edit
    max-width 100%
  .page-nav
    max-width 100%
